.container {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;

  margin-bottom: 2px;

  &.activeEmojiSpacer {
    margin-bottom: 16px;
  }

  &.left {
    flex-direction: row-reverse;
  }
}

.anchor {
  position: relative;
}

.messageContainer {
  background-color: rgb(0, 132, 255);
  color: white;

  width: fit-content;
  padding: 8px 12px;
  border-radius: 18px;

  &.left {
    background-color: #e4e6eb;
    color: #050505;
  }
}

.hidden {
  visibility: hidden;
}

.activeEmojiContainer {
  position: absolute;
  bottom: 0;
  right: 4px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  height: 20px;
  width: 20px;

  transform: translateY(12px);
}

.activeEmoji {
  & > img {
    height: 16px;
    width: 16px;
  }
}
